@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Avenir Next";
  src:
    local("Avenir Next"),
    url("/fonts/AvenirNext.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Avenir Next Bold";
  src:
    local("Avenir Next Bold"),
    url("/fonts/AvenirNext-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Helvetica Neue";
  src:
    local("Helvetica Neue"),
    url("/fonts/HelveticaNeue-Roman.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

:root {
  --color-foreground: #0f1010;
  --color-background: #f8f5f0;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-foreground: #f8f5f0;
    --color-background: #0f1010;
  }
}

body {
  color: var(--color-foreground);
  background: var(--color-background);
}

.helvetica {
  font-family: "Helvetica Neue";
}

.heading-hero {
  font-family: "Avenir Next Bold";
  font-size: 5.875rem;
  line-height: 6.625rem;
  font-weight: 700;
  margin: 0 0 2rem;
}
